.markdown {
    @apply text-lg;
}
  
.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply text-xl text-gray-800;
}
  
.markdown pre {
  min-width: 100%;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  border-left-width: 8px;
  --border-opacity: 1;
  border-color: #6b46c1;
  border-color: rgba(107, 70, 193, var(--border-opacity));
  margin-top: 1rem;
  --bg-opacity: 1;
  background-color: #edf2f7;
  background-color: rgba(237, 242, 247, var(--bg-opacity));
  border-radius: 0.375rem;
  --text-opacity: 1;
  color: #1a202c;
  color: rgba(26, 32, 44, var(--text-opacity));
  overflow-x: scroll;
}

@media only screen and (max-width: 768px) {
  pre {
    font-size: 0.875rem;
  }
}
.markdown h2 {
  @apply text-3xl mt-12 mb-4 font-semibold text-gray-800;
}
  
.markdown h3 {
  @apply text-2xl mt-8 mb-4;
}

.markdown em {
  @apply bg-gray-500;
}