@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

.bubble-label {
    @apply hidden ml-2 px-2 border border-gray-300 bg-gray-300 rounded-sm;

}

.nav-item:hover > .bubble-label {
    z-index: 200;
    @apply block relative;
}

.main-container {
    max-width: 1400px;
}

.fix-margin {
    margin: 0;
}
.large-header {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(195, 55, 100, 0.8),rgba(29, 38, 113, 0.8) ), url('/img/computer_company-min.jpg');
    background-color: #111;
    overflow: hidden;
    background-position: center center;
 }

 h1 {
    font-family: 'Raleway', sans-serif;

 }
 
 
 .navbar {
     background-color: rgba(29, 38, 113, 1);
 }

 a.nav-link {
    position: relative;
    width: 100%;
    height: 100%;
 }


 li.nav-item {
     display: block;
     height: 100%;
 }

 a.nav-link:hover {
     color: aqua;
 }


 a.nav-link:hover::before {
    display: block;
    content: '';
    height: 4px;
    width: 100%;
    position: absolute;
    top: -100%;
    background-color: aqua;
    
}

 a.nav-link:hover::after {
     display: block;
     content: '';
     height: 4px;
     width: 100%;
     position: absolute;
     bottom: -115%;
     background-color: aqua;
     
 }

 h2.section-heading {
     border-bottom: 5px solid;
     width: fit-content;
     font-weight: 700;
     font-size: 2.25rem;
     text-transform: uppercase;
 }


 .main-title .bold {
    font-weight: 800;
 }
 
 .btn {
     @apply border-2 p-2;
     width: 130px;

       /* This timing applies on the way OUT */
    transition-timing-function: ease-in;

    /* Quick on the way out */
    transition: 0.3s;
 }

 @media only screen and (max-width: 768px) {
    .demo .main-title {
       font-size: 1.6em;
    }
 }

.screenshot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.screenshot-container > img {
    flex-shrink: 0;
    min-width: 100%;
    max-width: 100%;
}

