@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');


html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Raleway', sans-serif;
}

html,body {
    height: 100%;
}




.Chevron {
    position:relative;
    display:block;
    height:50px; /*height should be double border*/
}
.Chevron::before,
.Chevron::after {
    position:absolute;
    display:block;
    content:"";
    border:25px solid transparent; /*adjust size*/
}
/*Change the four instances of 'top' below to rotate (top/right/bottom/left)*/
.Chevron::before {
    right:0;
    border-right-color:#805ad5; /*Chevron Color*/
}
.Chevron::after {
    right:-10px; /*adjust thickness*/
    border-right-color:#fff; /*Match background colour*/
}

.skills-tag {
    width: fit-content;
    height: fit-content;
}
.justify-self-start {
    justify-self: start;
}

.nav-item:hover > .bubble-label {
    z-index: 200;
    @apply block relative;
}

.main-container {
    max-width: 1400px;
}


.fix-margin {
    margin: 0;
}

.flex-half {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
}

.menu-button {
    position: relative;
}


.menu-button:hover::before {
    display: block;
    content: '';
    height: 4px;
    width: 100%;
    position: absolute;
    top: -3px;
    background: white;
}


.menu-button:hover::after {
    display: block;
    content: '';
    height: 4px;
    width: 100%;
    position: absolute;
    bottom: -3px;
    background: white;
}

@keyframes animatedBackground {

    from {
        background-position: 0 0;

    }

    to {
        background-position: 100% 0;
    }
}

.large-header {
    position: relative;
    width: 100%;
    height: calc(100vh - 60px);
    background-image: linear-gradient(rgba(195, 55, 100, 0.8),rgba(29, 38, 113, 0.8) ), url('/img/computer_company-min.jpg');
    background-color: #111;
    overflow: hidden;
    background-position: center center;
    animation: animatedBackground 19s linear infinite alternate;
 }

 h1 {
    font-family: 'Raleway', sans-serif;

 }
 
 
 .navbar {
     background-color: rgba(29, 38, 113, 1);
     height: 60px;
 }

 a.nav-link {
    position: relative;
    width: 100%;
    height: 100%;
 }


 li.nav-item {
     display: block;
     height: 100%;
 }

 a.nav-link:hover {
     color: aqua;
 }


 a.nav-links:hover::before {
    display: block;
    content: '';
    height: 4px;
    width: 100%;
    position: absolute;
    top: -100%;
    background-color: aqua;
    
}

 a.nav-link:hover::after {
     display: block;
     content: '';
     height: 4px;
     width: 100%;
     position: absolute;
     bottom: -115%;
     background-color: aqua;
     
 }

 h2.section-heading {
     border-bottom: 5px solid;
     width: fit-content;
     font-weight: 700;
     font-size: 2.25rem;
     text-transform: uppercase;
 }


 .main-title .bold {
    font-weight: 800;
 }
 
 .btn {
     @apply border-2 p-2;
     width: 130px;

       /* This timing applies on the way OUT */
    transition-timing-function: ease-in;

    /* Quick on the way out */
    transition: 0.3s;
 }

 @media only screen and (max-width: 768px) {
    .demo .main-title {
       font-size: 1.6em;
    }
 }

.screenshot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.screenshot-container > img {
    flex-shrink: 0;
    min-width: 100%;
    max-width: 100%;
}

